<li>
  <% if current_user?(tarefa.user) %>
    <span class="descricao"><%= tarefa.descricao %></span>

    <span class="timestamp">
      Prazo: <%= tarefa.prazo.strftime("%m/%d/%Y")  %>.
    </span>
    <%= link_to "Feito!", tarefa, method: :delete,
                                      data: { confirm: "Fez mesmo?" },
                                      title: tarefa.descricao %>
  <% end %>
</li>
