<% if signed_in? %>
  <div id = "wrapper">
    <div id = "left">
      <div class="row">
        <aside class="span4">
          <section>
            <%= render 'shared/user_info' %>
          </section>
          <section>
            <%= render 'shared/tarefa_form' %>
          </section>
        </aside>
      </div>
      <div class="row">
        <aside class="span4">
            <h4>Tarefas</h4>
            <%= render 'shared/feed' %>
        </aside>
      </div>
    </div>
    <div id="pet">
      <%= render 'pets/pet' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>petRefa</h1>
    <div class="row">
      <div class="span7 offset2">
        <%= form_for(:session, url: sessions_path) do |f| %>

          <%= f.label :email %>
          <%= f.text_field :email %>

          <%= f.label :password, "Senha" %>
          <%= f.password_field :password %>

          <%= f.submit "Login", class: "btn btn-small btn-default" %>
        <% end %>

        <p>Nao tem cadastro? <%= link_to "Crie uma conta!", cadastro_path %></p>
      </div>
    </div>
  </div>
<% end %>
