<% provide(:title, "Ajustes") %>
<h1>Ajustes</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, "Nome" %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password, "Senha" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmar Senha" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Salvar modificacoes", class: "btn btn-small btn-default" %>
    <% end %>

  </div>
</div>
