<% provide(:title, 'Todos os Usuarios') %>
<% if current_user.admin? %>
<h1>Todos os Usuarios</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      <% if !current_user?(user) %>
      | <%= link_to "deletar", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
<% else %>
<h1>Você não tem permissão para ver esta página!</h1>
<% end %>
