<% provide(:title, @user.name) %>
<div class="row">
    <aside class="span4">
      <% if @user.tarefas.any? %>
      <h3>Tarefas (<%= @user.tarefas.count %>)</h3>
      <ol class="tarefas">
        <%= render @tarefas %>
      </ol>
      <%= will_paginate @tarefas %>
      <% end %>
    </aside>
    <div id="pet">
        <h3><%= @user.pet.nil? ?  "Unicorniorefa" : @user.pet.nome %></h3>
        <%= render 'pets/pet' %>
    </div>
</div>
