<% if current_user?(feed_item.user) %>
  <li id="<%= feed_item.id %>">
    <!-- <span class="categoria">
      <%= link_to feed_item.user.name, feed_item.user %>
    </span> -->
    <span class="descricao"><%= feed_item.descricao %></span>
    <span class="timestamp">
      Prazo: <%= feed_item.prazo %>.
    </span>
    <%= link_to "Feito!!", feed_item, method: :delete,
                                     data: { confirm: "Fez mesmo?" },
                                     title: feed_item.descricao %>
  </li>
<% end %>
