<%= form_for(@pet) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :nome, placeholder: "Dê um nome para o seu petRefa." %>
  </div>
  <%= f.submit "Conhecer pet", class: "btn btn-small btn-default" %>
<% end %>
