<%= form_for(@tarefa) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :descricao, placeholder: "O que devo fazer?" %>
  </div>
  <div class="input">
    <%= f.date_field :prazo %>
  </div>
  <%= f.submit "Criar Tarefa", class: "btn btn-small btn-default" %>
<% end %>
