<footer class="footer">
  <small>
    <%= link_to "petRefa", root_path %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Mobile",   '#' %></li>
      <li><%= link_to "Desenvolvedores", desenvolvedores_path %></li>
      <li><%= link_to "Ajuda", ajuda_path %></li>
      <li><a href="#">Rede Social</a></li>
    </ul>
  </nav>
</footer>
