<header class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to image_tag("logopequeno.png", alt: "LOGO PETREFA"), root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <% if signed_in? %>
              <% if current_user.admin? %>
              <li><%= link_to "Usuarios", users_path %></li>
              <% end %>
              <li><%= link_to "Ajustes",
                            edit_user_path(current_user) %></li>
              <li><%= link_to current_user.name, current_user %></li>
              <li><%= link_to "Logout", logout_path,
                                        method: "delete" %></li>
              <% else %>
              <li><%= link_to "Login", login_path %></li>
              <li><%= link_to "Cadastrar",    cadastro_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
